/**
 * style.css
 * used for styling js clock
*/

/*-----Colors-----*/
:root {
    --coral: #FFA585;
    --yellow: #FFEDA0;
    --black: #000;
    --red: #FF0000;
}

/*-----General-----*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(var(--coral), var(--yellow));
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 4rem;
    padding: 1.5rem 3rem;
}

/*-----Clock-----*/
.clock {
    height: 25rem;
    width: 25rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid 25px var(--black);
    border-radius: 50%;
}

.hand {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 9rem;
    height: 8px;
    border-radius: 50px;
    background-color: var(--black);
    transform-origin: 100%;
    transition: all 0.4s;
    transform: rotate(90deg);
}

.hour-hand {
    width: 4.5rem;
}

.sec-hand {
    height: 4px;
    background-color: var(--red);
}