/**
 * style.css
 * used to style the js and css variables project
*/

/*-----General-----*/
:root {
    --color: palegoldenrod;
    --spacing: 10px;
    --blur: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 100vw;

    display: flex;

    font-family: 'Roboto', sans-serif;
    background-color: var(--color);
}

label {
    font-size: 1.5rem;
}

img {
    position: relative;
    width: auto;
    height: 80%;
    margin: auto;
    padding: var(--spacing);
    filter: blur(var(--blur));
}

#commands {
    padding: 1rem;

    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    background-color: #fff;
}