/**
 * style.css
 * contains the code for styling js drumkit
*/

/*-----Colors-----*/
:root {
    --beige: #F9EEE2;
    --blue: #3F3D56;
    --orange: #F57A4D;
    --red: #9C3725;
 }

/*-----General-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    background-color: var(--beige);
    color: var(--blue);
    font-family: 'Concert One', cursive;
    line-height: 1.3;

    overflow-x: hidden;
}

h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.25rem;
    color: var(--red);
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

header {
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;
}

/*-----Grid-----*/
#grid {
    height: 80vh;
    padding: 2rem 32rem 5rem;

    justify-content: center;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 1.5rem;
}

.grid-item {
    height: 12rem;
    width: 17rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    border: solid 5px var(--orange);
    cursor: pointer;
}

.selected {
    animation-name: size;
    animation-duration: 0.3s;
}

@keyframes size {
    0% {border: solid 5px var(--orange);}
    50% {border: solid 10px var(--red);}
    100% {border: solid 5px var(--orange);}
}

/*-----Images-----*/
#bird-music {
    position: absolute;
    top: 75%;

    width: 15.5rem;
    height: 14rem;
}

#music-note {
    position: absolute;
    left: 80%;
    bottom: 75%;

    width: 14rem;
    height: 9rem;
}